body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center; /* Center-align all text */
}

header {
    background: #007BFF;
    color: #fff;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1.5em;
}

h3, h4 {
    color: #007BFF;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Center the sections */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
}
